/* Global Styles */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Navbar */
  .navbar {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 999;
  }
  
  .custom-navbar {
    background-color: rgba(0, 0, 0, 0.25) !important;
  }
  
  .navbar-brand img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-left: 15px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #a5a5a5;
  }
  
  /* Header */
  .hheader {
    background-image: url(valley2.png);
    text-align: center;
    padding: 80px 0;
    background-position: center;
    background-size: cover;
  }
  
  .hheader h1 {
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .hheader p {
    font-size: 18px;
    color: #d8d8d8;
    margin-bottom: 40px;
  }
  
  .mission-image {
    width: 500px;
    height: 400px;
    margin-bottom: 30px;
    background-image: url(mission.png);
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .vision-image {
    width: 500px;
    height: 400px;
    margin-bottom: 30px;
    background-image: url(vision.png);
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  
  /* Main Content */
  .main-section {
    padding: 80px 0;
  }
  
  .main-section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }
  
  .main-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
  }
  
  .main-section .img-fluid {
    width: 100%;
    height: auto;
  }

  /* Animation Styles */
  .slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .slide-up.active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s, transform 0.5s ease-out;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
  }
  
  .footer h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .footer p,
  .footer ul {
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #666;
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #555;
  }
  
  /* Responsive Styles */
  @media (max-width: 991.98px) {
    .hheader h1 {
      font-size: 32px;
    }
  
    .hheader p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 767.98px) {
    .navbar-collapse {
      padding-top: 10px;
    }
  
    .navbar-nav .nav-item {
      text-align: center;
      margin-bottom: 10px;
    }
  
    .navbar-nav .nav-link {
      display: block;
    }
  
    .hheader h1 {
      font-size: 26px;
    }
  
    .hheader p {
      font-size: 14px;
    }
  
    .main-section h2 {
      font-size: 24px;
    }
  
    .main-section p {
      font-size: 16px;
    }
  
    .footer h4 {
      font-size: 18px;
    }
  
    .footer p,
    .footer ul {
      font-size: 12px;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }
  