/* Properties.css */
/* Global Styles */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Navigation Bar */
.navbar {
  background-color: rgba(0, 0, 0, 0.541);
  width: 100%;
  z-index: 999;
}

#nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  color: #a5a5a5;
}

/* Header */
.hhheader {
  background-color: #000000;
  width: 100%;
  padding: 130px 0;
  margin-top: -80px;
  background-image: url("homemain4.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hhheader h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.hhheader h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 40px 0 40px;
  text-align: center;
  color: #ffffff;
}

.btn-green:hover {
  background-color: #006400;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
  color: #fff;
  text-decoration: none;
}

/* Main Section */
.main-section {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.main-section p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Properties */
.property-details {
  padding: 50px 0;
  background-color: #fff;
}

.property-title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

.property-price {
  font-size: 24px;
  font-weight: 500;
  color: #2e742e;
}

.property-description {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.property-amenities {
  font-size: 16px;
  font-weight: 500;;
  color: #000;
}

.buy-button, .rent-button {
    display: inline-block;
    padding: 6px;
    width: 100px;
    font-size: 18px;
    background-color: #32bd32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover, .rent-button:hover {
    background-color: #279427;
}

.buy-button a, .rent-button a, .undo-button a, .buy-button a:hover, .rent-button a:hover, .undo-button a:hover{
  color: #fff;
}

.rent-button {
    margin-left: 10px;
}

.return-button, .undo-button {
  display: inline-block;
  padding: 6px;
  width: 215px;
  font-size: 16px;
  background-color: #1e6417;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.return-button:hover {
  background-color: #24791c;
  color: #fff;
}

.return-button .back-icon {
  margin-right: 5px;
  font-size: 16px;
}

.return-button {
  margin-top: 20px;
}

/* Image Slideshow (in individual properties) */
.slideshow-container {
  max-width: 100%;
  position: block;
  margin: 0;
}

.mySlides {
  display: none;
  width: 100%;
  height: 530px;
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(255, 252, 252, 0.5);
  font-size: 20px;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Add CSS styles for image captions if needed */
.mySlides::after {
  content: attr(alt);
  display: block;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

/* Reviews */
.reviews {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 0px 60px 0px;
}

.reviews-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.total-rating {
  font-size: 18px;
  font-weight: bold;
}

.total-rating span {
  color: #ff9800;
}

.reviewer-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.review {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.rating {
  font-weight: bold;
}

.whole-rating {
  color: #0c9100;
  font-weight: bold;
  margin-left: 5px;
}

.review-text {
  margin-top: 10px;
  font-size: 16px;
}

/* Card Section */
.col-lg-3 {
  margin-bottom: 20px;
}

.third-section {
  background-color: #f9f9f9;
}

.third-section .container {
  margin: 0 auto;
  max-width: 1200px;
}

.third-section .section-header {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 50px;
}

.third-section .card {
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s ease-out;
}

.third-section .card:hover {
  background-color: #e2fde2;
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.966);
  transition: transform 0.3s, box-shadow 0.3s ease-out, background-color 0.3s ease-out;
}

.third-section .unavailable img {
  filter:brightness(50%);
}

.third-section .unavailable:hover {
  background-color: #fde2e2;
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.356);
  transition: transform 0.3s, box-shadow 0.3s ease-out, background-color 0.3s ease-out;
}

.third-section .card-img-top {
  object-fit: cover;
  height: 200px;
  transition: transform 0.3s;
}

.third-section .card-body {
  padding: 20px;
  text-align: center;
}

.third-section .card-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.third-section .card-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
}

.third-section .card-price {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  color: #2e742e;
  text-decoration: none;
}

.third-section .card-unavailable {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  color: #74332e;
  text-decoration: none;
}

a:not(.card-text):link {
  text-decoration: none;
}

/* Pagination */
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: #000;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.pagination a:hover {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination .page-item.active .page-link {
  background-color: #61db76;
  color: #000000;
  border: 1px solid #51c564;
}

.pagination .prev-btn,
.pagination .next-btn {
  color: #000;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.pagination .prev-btn:hover,
.pagination .next-btn:hover {
  background-color: #637466;
}

/* Animation Styles */
.slide-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.slide-up.active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1s, transform 0.5s ease-out;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
}

.footer h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer p,
.footer ul {
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover{
  color: #27ae60;
  text-decoration: underline;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #666;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: #555;
  color: #0daa34;
}

@media (max-width: 992px) {
  .main-section {
    flex-direction: column;
    text-align: center;
  }

  .main-section h2 {
    font-size: 26px;
  }

  .main-section p {
    font-size: 16px;
  }

  .third-section .card {
    margin-left: 20px;
    margin-right: 20px;
  }

  .third-section .card:hover {
    background-color: #e2fde2;
    transform: translateY(0px) scale(1.02);
    transition: transform 0.5s, background-color 1s ease-out;
  }
  
  .third-section .card:hover .card-img-top{
    transform: scale(1);
    transition: transform 0s;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding-top: 10px;
  }

  .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 10px;
  }

  .hhheader h1 {
    font-size: 40px;
  }

  .hhheader h2 {
    font-size: 16px;
    margin: 10px 60px 0 60px;
  }

  .main-section {
    padding: 80px 0;
  }

  .main-section h2 {
    font-size: 24px;
  }

  .main-section p {
    font-size: 16px;
  }

  .third-section .card-img-top {
    height: 180px;
  }

  .third-section .card-title {
    font-size: 20px;
  }

  .third-section .card-text {
    font-size: 16px;
  }

  .third-section .card-price {
    font-size: 16px;
  }

  .third-section .card-rent-price {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .hhheader h1 {
    font-size: 32px;
  }

  .hhheader h2 {
    font-size: 14px;
    margin: 10px 60px 0 60px;
  }

  .main-section {
    padding: 60px 0;
  }

  .main-section h2 {
    font-size: 22px;
  }

  .main-section p {
    font-size: 14px;
  }

  .third-section .card-img-top {
    height: 160px;
  }

  .third-section .card-title {
    font-size: 18px;
  }

  .third-section .card-text {
    font-size: 14px;
  }

  .third-section .card-price {
    font-size: 14px;
  }

  .third-section .card-rent-price {
    font-size: 12px;
  }
}

